---
import Layout from "+/components/ActivityPage/Layout.astro";
import Section from "+/components/ActivityPage/Section.astro";
import Summary from "+/components/ActivityPage/Summary.astro";
import Title from "+/components/ActivityPage/Title.astro";

import ActionButton from "+/components/ActionButton.astro";
import Brainstorming from "+/images/activity-develop-brainstorming.jpg";
import Meeting from "+/images/activity-develop-meeting.jpg";
import Project from "+/images/activity-develop-project.jpg";
import Cover from "+/images/activity-develop.jpg";
---

<Layout type="開発" cover={Cover}>
  <Title icon="feather:box"> 開発する </Title>
  <Summary>
    <p>
      ut.code();
      では、社会をより良い方向へ導くことを目指し、様々なプロダクトを開発しています。ut.code();
      は開発するプロダクトを「プロジェクト」と呼び、通常の活動はプロジェクトが基本単位となっています。プロジェクトのアイデア出しから実際の開発、チームメンバーとのコミュニケーション方法など、様々なノウハウが蓄積されています。
    </p>
  </Summary>
  <Section
    title="プロジェクト"
    image={Project}
    imageAlt="共同作業の様子"
    edge="left"
  >
    {/* eslint-disable prettier/prettier */}
    <p>
      プロジェクトは、ut.code();
      内のチームにより開発されるソフトウェアの単位で、多くはそれぞれ独立した
      Slack チャンネル、Notion ページ、Google Drive
      フォルダを持っています。成果物はオープンソースにすることが推奨されており、
      <a href="https://github.com/ut-code" target="_blank" rel="noreferrer">
        GitHub</a
      >
      上で公開されています。
    </p>
    <ActionButton to="/projects"> すべてのプロジェクト </ActionButton>
  </Section>
  <Section
    title="ブレインストーミング"
    image={Brainstorming}
    imageAlt="2022 年度大忘年会の様子"
    edge="right"
  >
    <p>
      ソフトウェアは、作り始める前にしっかりとアイデアを練り上げることが重要です。ut.code();
      では、プロジェクトの実施の前にブレインストーミング会を実施し、多くの人から作りたいプロダクトについてのアイデアに対するフィードバックを得る機会を提供しています。
    </p>
  </Section>
  <Section
    title="定例ミーティング"
    image={Meeting}
    imageAlt="定例ミーティング"
    edge="left"
  >
    <p>
      プロジェクトが動き始めた後、重要になってくるのは継続です。ut.code();
      では、すべてのプロジェクトで週 1
      度の定例ミーティングを実施することを推奨しています。テスト期間など、時間がとりづらい時期でも、週に
      1
      度、ほんの少しだけ実施中のプロジェクトに意識を向けることにより、プロジェクトの成功率を大きく高めることができます。
    </p>
  </Section>
</Layout>
); }

