---
import Layout from "+/components/ActivityPage/Layout.astro";
import Section from "+/components/ActivityPage/Section.astro";
import Summary from "+/components/ActivityPage/Summary.astro";
import Title from "+/components/ActivityPage/Title.astro";

import ActionButton from "+/components/ActionButton.astro";

import Cover from "+/images/activity/develop/cover.jpg";

import Hackathon from "+/images/activity/develop/hackathon.jpg";
import Project from "+/images/activity/develop/project.jpg";
import Meeting from "+/images/activity/develop/solo-dev.jpg";
---

<Layout type="開発" cover={Cover}>
  <Title icon="feather:box"> 開発する </Title>
  <Summary>
    <p>
      ut.code();
      では、社会をより良い方向へ導くことを目指し、様々なプロダクトを開発しています。ut.code();
      は開発するプロダクトを「プロジェクト」と呼び、通常の活動はプロジェクトが基本単位となっています。プロジェクトのアイデア出しから実際の開発、チームメンバーとのコミュニケーション方法など、様々なノウハウが蓄積されています。
    </p>
  </Summary>
  <Section
    title="プロジェクト"
    image={Project}
    imageAlt="共同作業の様子"
    align-image="right"
  >
    <p>
      プロジェクトは、ut.code();
      内のチームにより開発されるソフトウェアの単位で、多くはそれぞれ独立した
      Slack チャンネル、Notion ページ、Google Drive フォルダを持っています。
      成果物はすべてオープンソースであり、
      <a href="https://github.com/ut-code" target="_blank" rel="noreferrer">
        GitHub</a
      > 上で公開されています。
    </p>
    <ActionButton to="/projects"> すべてのプロジェクト </ActionButton>
  </Section>
  <Section title="ハッカソン" image={Hackathon} imageAlt="" align-image="left">
    <p>
      ハッカソンは、限られた時間の中でアイデアを形にし、実際に動くプロダクトを開発するイベントです。
      参加者はチームを組み、短期間で設計・実装・発表までを行うため、創造力や技術力、チームワークが試されます。
      アイデアを素早く具体化し、試行錯誤しながらブラッシュアップする過程を通じて、実践的なスキルを磨くことができます。
    </p>
    <ActionButton to="/projects/hackathon"> ハッカソン作品 </ActionButton>
  </Section>
  <Section title="個人開発" image={Meeting} imageAlt="" align-image="right">
    <p>
      個人開発は、アイデアを自由に形にし、自分のペースで開発を進めるスタイルです。
      発想から実装までを一貫して行うことで、技術力や問題解決能力を高めることができます。
      思いついたものをすぐに試し、試行錯誤を重ねながらプロダクトを作り上げていく過程そのものが、大きな学びや発見につながります。
      ut.code();
      は、そんな個人開発を支えるため、発表の場や開発に必要なリソース提供を通じて、開発者の挑戦をサポートしています。
    </p>
  </Section>
</Layout>
