---
import Layout from "+/components/ActivityPage/Layout.astro";
import Section from "+/components/ActivityPage/Section.astro";
import Summary from "+/components/ActivityPage/Summary.astro";
import Title from "+/components/ActivityPage/Title.astro";

import ActionButton from "+/components/ActionButton.astro";
import Cover from "+/images/activity/learn/cover.jpg";
import Seminar from "+/images/activity/learn/specialized-seminar.jpg";
import UTCodeLearn from "+/images/activity/learn/utcode-learn.jpg";
---

<Layout type="学習" cover={Cover}>
  <Title icon="feather:book-open"> 学習する </Title>
  <Summary>
    <p>
      ut.code();
      は、全ての人にソフトウェア開発の魅力を伝えるべく、教材の作成から教育活動までを一貫して行っています。充実した教材、気軽に質問できる環境、切磋琢磨する仲間、この３つの柱により、初心者からでも自分だけのソフトウェア開発ができるようにサポートします。
    </p>
  </Summary>
  <Section
    title="ut.code(); Learn"
    image={UTCodeLearn}
    imageAlt="ut.code(); Learn"
    align-image="right"
  >
    <p>
      ut.code(); Learn は、ut.code();
      の内部向けの教材です。はじめの一歩から実際の Web
      システム開発までに必要な知識と、多くの演習問題から構成されています。
    </p>
    <p>
      一般的な教材と異なり、網羅的な説明を避け、詳細は演習問題中に自力で調べられるようヒントを設ける形式になっています。これにより、カリキュラム終了後に自走できる基礎を確立することができます。
    </p>
    <ActionButton to="/projects/utcode-learn"> 詳しく見る </ActionButton>
  </Section>
  <Section
    title="全ゼミ / 自主ゼミ「モダン Web システム開発入門」"
    image={Seminar}
    imageAlt=""
    align-image="left"
  >
    <p>
      ut.code(); Learn を教材に、駒場キャンパスで講義形式で Web
      システム開発を学ぶことのできるゼミです。自学自習のペース配分が苦手でも、毎週の参加と課題により学習を進めることができます。
    </p>
  </Section>
  <!--
  TODO: write about:
    - extralearn
    - ドキュメントを読む会
  -->
</Layout>
