---
import { Image } from "astro:assets";

import GlobalLayout from "../layouts/GlobalLayout.astro";
import { Focus } from "../schema";

import ActionButton from "../components/ActionButton.astro";
import DonationHeader from "../images/donation-header.jpg";
---

<GlobalLayout
  title="ご寄付・ご協賛のお願い"
  description="ご寄付・ご協賛をお願いしております"
  focus={Focus.contact}
  class="prose"
>
  <h1 class="mt-12 ml-[20%] text-4xl">ご寄付・ご協賛のお願い</h1>
  <Image
    alt=""
    loading="eager"
    src={DonationHeader}
    width="1920"
    height="600"
    class="my-8 h-150 w-full object-cover"
  />
  <article class="prose mb-20">
    <p>ut.code(); は、学生の手で自主的に運営されている団体です。</p><p>
      多くの方にソフトウェア開発の魅力を知っていただくため、活動はすべて無償で行っています。
    </p>
    <p>
      現在のところ活動資金は寄付によって賄われていますが、十分とはいえない状況です。
      皆様のご支援をいただけますと幸いです。
    </p>
    <h2>協賛による支援</h2>
    <p>
      ut.code();は、ウェブサイトにご協賛いただいた企業様のロゴを掲載しております。
    </p>
    <h2>ご寄付による支援</h2>
    <p>ご寄付いただける方は、以下の口座にお振込みください。</p>
    <p>
      誤操作の防止と、感謝の気持ちをお伝えするため、事前にご一報いただけますと幸いです。
    </p>
    <ul>
      <li>金融機関: 三菱 UFJ 銀行 (0005)</li>
      <li>支店: 本郷 (351)</li>
      <li>口座番号: 0339615</li>
    </ul>
    <ActionButton class="mt-8" to="/contact">ut.code(); の連絡先</ActionButton>

    <h2>使用しなくなったノートパソコンの譲渡</h2>
    <p>
      ut.code();
      では例年、五月祭・駒場祭で外部のお客様向けにプログラミングを学ぶことのできる企画を行っています。
    </p>
    <p>
      この企画では、皆様に気軽にお越しいただけるよう、会場内でノートパソコンを貸し出しています。
      各々が持ち寄ったノートパソコンを使用してはいますが、それだけでは台数が足りないため、外部の事業者にレンタルを依頼せざるを得ず、その費用負担が問題となっています。
    </p>
    <p>
      そこで、ut.code();
      では、使用しなくなったノートパソコンを譲渡していただける方を募集しています。
    </p>
    <p>
      保存されているデータは幣団体で削除する処理を行いますが、情報漏洩については責任を負うことができませんので、送付前にデータの削除をお願いいたします。
    </p>

    <ActionButton to="/contact">ut.code(); の連絡先</ActionButton>

    <h2>ご支援いただいた皆様</h2>
    <ul>
      <li>2024/3/11 コウノマサノリ様</li>
    </ul>
  </article>

  <style>
    @import "tailwindcss";
    article {
      @apply mx-[20%];
    }
  </style>
</GlobalLayout>
