---
import { Picture } from "astro:assets";
import ActionButton from "../components/ActionButton.astro";
import Header from "../images/headers/join.jpg";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import { Focus } from "../schema";
---

<GlobalLayout
  title="参加"
  description="ut.code(); に参加する"
  focus={Focus.join}
  image={Header}
>
  <Picture
    formats={["avif", "webp"]}
    fit="cover"
    alt=""
    loading="eager"
    src={Header}
    width="1920"
    height="600"
    quality="mid"
    class="top-0 w-full object-cover object-top"
  />
  <main class="px-16 py-16">
    <div class="prose max-w-none">
      <h1 class="text-4xl font-medium">ut.code(); に参加する</h1>
      <p>
        ut.code();
        は、プログラミングはもちろん、ものづくりが好きな人、デザインに興味がある人、アイデアを形にしたい人など、幅広い人を歓迎しています！
      </p>
      <h2>🔷 入部について</h2>
      <p>ut.code(); の部員は基本的に大学生・大学院生に限定しています。</p>
      <p>
        ut.code(); では、 部員同士の交流やプロジェクトの連絡は、主に Discord
        で行っています。興味がある場合は、まずは Discord に入ってみてください。
      </p>
      <p>
        東大生の方は、次のリンクから Discord に参加できます。大学が提供する
        Google Workspace アカウントでのログインが必要です。
      </p>
      <div class="not-prose">
        <ActionButton
          variant="dark"
          to="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utcode/discord-%E6%96%B0%E6%AD%93%E3%81%AE%E6%96%B9%E3%81%AF%E3%81%93%E3%81%A1%E3%82%89"
        >
          参加したい方はこちら
        </ActionButton>
      </div>
      <p>
        学外の方でサークル参加希望の方は、
        <a href="/contact">ut.code(); の公式メールアドレス</a>
        からご連絡ください。
      </p>
      <h2>📅 新歓日程</h2>
      <p>今年の新歓日程は以下のとおりです。</p>
      <p>日時・場所の詳細は確定し次第追加します。</p>
      <ul aria-label="新歓日程一覧">
        <li>
          3/30 (日) オンライン説明会
          <ul>
            <li>場所: Zoom (リンクは追って公開します)</li>
            <li>飛び入り参加可能！</li>
          </ul>
        </li>
        <li>4/3(木), 4/4(金) サーオリ</li>
        <li>
          4/7 (月), 11 (金), 16 (水), 18 (金), 23 (水), 25 (金), 30 (水) 19:00 ~
          21:30 先取り自主勉強会
          <ul>
            <li>場所: 駒場学生会館 313 B (部室)</li>
            <li>途中参加・途中退出可。</li>
            <li>
              いち早くプログラミングを学び、プロジェクトに参加できるスキルをつけよう！
              経験者も新しい知識を学ぶチャンス！
            </li>
          </ul>
        </li>
        <li>
          4/9 (水) エンジニア系サークル合同新歓 @対面
          <ul>
            <li>場所: 確定し次第お知らせします。(学生会館予定)</li>
            <li>TSG、UTFF、RoboTech、灯と合同で新歓説明会を開催！</li>
          </ul>
        </li>
        <li>
          4/12 (土) 新歓講習会 15:45~
          <ul>
            <li>場所: 確定し次第お知らせします。(学生会館予定)</li>
            <li>飛び入り参加可能！</li>
            <li>
              授業形式で HTML・CSS・JavaScript の基礎を学び、簡単な Web
              アプリを公開できるようになります。
            </li>
          </ul>
        </li>
        <li>4/15 (火) エンジニア系サークル合同新歓 (4/9 と同じ内容です)</li>
        <li>4/20 (日) 新歓講習会 (4/12 と同じ内容です)</li>
      </ul>
      <p>興味がある方は、ぜひ気軽に参加してみてください！</p>
      <h2>💬 コミュニティについて</h2>
      <p>また、 ut.code(); では Slack コミュニティを運営しています。</p>
      <p>
        コミュニティには、どなたでも参加可能 です。一部のプロジェクトでは Slack
        を使ってやりとりをしています。
      </p>
      <p>
        東大生の方は、
        <a href="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utcode/slack">
          こちら
        </a>
        から参加できます。
      </p>
      <p>
        学外で参加希望の方は、 ut.code();
        の公式メールアドレスからご連絡ください。
      </p>
    </div>
  </main>
</GlobalLayout>
