---
import ActionButton from "+/components/ActionButton.astro";
import Header from "+/images/headers/join.jpg";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import StaticDocumentWrapper from "+/layouts/StaticDocumentWrapper.astro";
import { Focus } from "+/schema";
import { Icon } from "astro-icon/components";
---

<GlobalLayout
  title="参加"
  description="ut.code(); に参加する"
  focus={Focus.join}
  image={Header}
>
  <StaticDocumentWrapper
    header={Header}
    fill="bg-pink-100"
    title="ut.code(); に参加する"
  >
    <p
      role="alert"
      class="alert not-prose alert-vertical alert-info alert-outline sm:alert-horizontal border-2 sm:flex-row"
    >
      <Icon name="feather:info" />
      <span>新歓イベントを行っています</span>
      <a class="link link-uncolor" href="/welcome-events">
        詳細<Icon class="mx-1 inline" name="feather:arrow-right" />
      </a>
    </p>
    <p>
      ut.code();
      は、プログラミングはもちろん、ものづくりが好きな人、デザインに興味がある人、アイデアを形にしたい人など、幅広い人を歓迎しています！
    </p>
    <h2>🔷 入部について</h2>
    <ul>
      <li>
        要件: ut.code();
        の部員は基本的に大学生・大学院生に限定しています。それ以外の、大学名・学年・経験の有無などによる制限はありません。
      </li>
      <li>
        入部方法: ut.code(); への入部は、新歓期に部員登録フォーム (Discord
        で配布します) を提出した時点で完了となります。
      </li>
    </ul>
    <p>
      ut.code(); では、 部員同士の交流やプロジェクトの連絡は、主に Discord
      で行っています。 新歓期は自由に参加可能ですので、興味がある場合はまずは
      Discord に入ってみてください。
    </p>
    <ActionButton
      variant="dark"
      to="https://discord.gg/DBsvz76tXV"
      class="my-4"
    >
      Discord
    </ActionButton>
    <h2>📅 新歓日程</h2>
    <p>新歓の日程は、こちらから確認できます。</p>
    <ActionButton to="/welcome-events">新歓イベント</ActionButton>
    <h2>💬 コミュニティについて</h2>
    <p>また、 ut.code(); では Slack コミュニティを運営しています。</p>
    <p>
      コミュニティには、どなたでも参加可能です。一部のプロジェクトでは Slack
      を使ってやりとりをしています。
    </p>
    <p>
      東大生の方は、
      <a
        href="https://docs.google.com/document/d/1wtbEz8RCwpAPTOfgZpDHlWmkiz-Zbw1HJhlLRFR1vos/edit?tab=t.0"
        >こちら</a
      >
      から参加できます。
    </p>
    <p>
      学外で参加希望の方は、 ut.code(); の公式メールアドレスからご連絡ください。
    </p>
  </StaticDocumentWrapper>
</GlobalLayout>
