---
import ActionButton from "+/components/ActionButton.astro";
import Header from "+/images/headers/join.jpg";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import StaticDocumentWrapper from "+/layouts/StaticDocumentWrapper.astro";
import { Focus } from "+/schema";
import { Icon } from "astro-icon/components";
---

<GlobalLayout
  title="参加"
  description="ut.code(); に参加する"
  focus={Focus.join}
  image={Header}
>
  <StaticDocumentWrapper
    header={Header}
    fill="bg-pink-100"
    title="ut.code(); に参加する"
  >
    <p
      role="alert"
      class="alert not-prose alert-vertical border-info sm:alert-horizontal border-2 sm:flex-row"
    >
      <Icon name="feather:info" />
      <span> 3/30 (日) 20:00~ オンライン新歓説明会を実施します </span>
      <a class="link" href="/welcome-events"> 詳細 </a>
      <a
        class="link link-primary"
        target="_blank"
        href="https://forms.gle/12xKpLEv8qnJFdCz5"
      >
        参加フォーム
      </a>
    </p>
    <p>
      ut.code();
      は、プログラミングはもちろん、ものづくりが好きな人、デザインに興味がある人、アイデアを形にしたい人など、幅広い人を歓迎しています！
    </p>
    <h2>🔷 入部について</h2>
    <p>ut.code(); の部員は基本的に大学生・大学院生に限定しています。</p>
    <p>
      ut.code(); では、 部員同士の交流やプロジェクトの連絡は、主に Discord
      で行っています。興味がある場合は、まずは Discord に入ってみてください。
    </p>
    <p>
      東大生の方は、次のリンクから Discord に参加できます。大学が提供する Google
      Workspace アカウントでのログインが必要です。
    </p>
    <ActionButton
      variant="dark"
      to="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utcode/discord-%E6%96%B0%E6%AD%93%E3%81%AE%E6%96%B9%E3%81%AF%E3%81%93%E3%81%A1%E3%82%89"
    >
      東大生の方はこちら
    </ActionButton>
    <p>
      学外の方でサークル参加希望の方は、
      <a href="/contact">ut.code(); の公式メールアドレス</a>
      からご連絡ください。
    </p>
    <h2>📅 新歓日程</h2>
    <p>新歓の日程は、こちらから確認できます。</p>
    <ActionButton to="/welcome-events">新歓イベント日程</ActionButton>
    <h2>💬 コミュニティについて</h2>
    <p>また、 ut.code(); では Slack コミュニティを運営しています。</p>
    <p>
      コミュニティには、どなたでも参加可能 です。一部のプロジェクトでは Slack
      を使ってやりとりをしています。
    </p>
    <p>
      東大生の方は、
      <a href="https://sites.google.com/g.ecc.u-tokyo.ac.jp/utcode/slack">
        こちら
      </a>
      から参加できます。
    </p>
    <p>
      学外で参加希望の方は、 ut.code(); の公式メールアドレスからご連絡ください。
    </p>
  </StaticDocumentWrapper>
</GlobalLayout>
