---
import { Picture } from "astro:assets";
import Link from "+/components/Link.astro";
import Header from "+/images/headers/welcome-events.jpg";
import DatesTable from "+/images/shinkan-nittei-v2.png";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import StaticDocumentWrapper from "+/layouts/StaticDocumentWrapper.astro";
import { Focus } from "+/schema";
---

<GlobalLayout
  title="新歓イベント"
  description="新歓イベントの日程と詳細"
  focus={Focus.join}
  image={Header}
>
  <StaticDocumentWrapper
    header={Header}
    fill="bg-gray-300"
    title="新歓イベント"
    position="object-top"
  >
    <p>
      <h2>イベント参加例</h2>
      <ul>
        <li>説明会 (任意)・学習型イベント・新歓合宿</li>
        <li>
          説明会 (任意)・学習型イベント (新歓合宿は予定が合わず参加できない)
        </li>
        <li>
          説明会 (任意)・新歓合宿
          <ul>
            <li>
              この場合、合宿では学習型イベントでやる予定の学習をしてもらいます
            </li>
          </ul>
        </li>
        <li>
          すべて参加できない場合
          <ul>
            <li>
              全く問題ありません。プロジェクト参加後に学習をしていただきます。
            </li>
          </ul>
        </li>
      </ul>
    </p>
    <h2>📅 新歓イベント日程</h2>
    <p>
      今年の新歓イベントの日程は以下のとおりです。
      興味がある方は、ぜひ気軽に参加してみてください！
    </p>
    <p>日時・場所の詳細は確定し次第追加します。</p>
    <a
      href="/shinkan-nittei.png"
      target="_blank"
      aria-label="新しいページで開く"
    >
      <Picture src={DatesTable} alt="新歓日程" />
    </a>
    <section aria-label="新歓日程一覧">
      <div class="divider mt-20">説明会</div>
      <section id="online-information-session">
        <div class="not-prose text-xl"><h3>オンライン新歓説明会</h3></div>
        <ul>
          <li>日時: 3/30 (日) 20:00~</li>
          <li>場所: Zoom</li>
          <li>終了しました。</li>
        </ul>
      </section>
      <section id="club-orientation">
        <h3>サーオリ</h3>
        <ul>
          <li>日時: 4/3(木), 4/4(金) 全日</li>
          <li>場所: 1232教室</li>
        </ul>
      </section>
      <section id="joint-welcome-event">
        <h3>エンジニア系サークル合同新歓</h3>
        <ul>
          <li>日時: 4/9 (水) 19:00 ~ 21:00、4/15 (火) 19:00 ~ 21:00</li>
          <li>場所: 確定し次第お知らせします。(学生会館予定)</li>
          <li>
            詳細: <a
              class="link link-uncolor"
              href="/articles/2025/03-24_joint-welcome-session"
            >
              合同新歓を開催します | 記事</a
            >
          </li>
          <li>
            参加フォーム:
            <Link
              class="link"
              href="https://forms.gle/sAU7A9uMVerQPpUb6"
              _blank
            />
          </li>
          <li>TSG、UTFF、RoboTech、灯と合同で新歓説明会を開催！</li>
        </ul>
      </section>
      <div class="divider mt-20">学習系</div>
      <section id="welcome-seminar">
        <h3>新歓講習会</h3>
        <ul>
          <li>日時: 4/6 (日) 14:00 ~ 17:30、4/12 (土) 14:00 ~ 17:30</li>
          <li>
            場所:
            <ul>
              <li>4/6 (日) : 駒場キャンパス 1 号館 102 教室</li>
              <li>4/12 (土) : 駒場キャンパス 11 号館 1105 教室</li>
            </ul>
          </li>
          <li>
            参加フォーム:
            <Link
              class="link"
              href="https://forms.gle/Bo5gHDgz12XtA4NW8"
              _blank
            />
          </li>
          <li>
            授業形式で HTML・CSS・JavaScript の基礎を学び、簡単な Web
            アプリを公開できるようになります。
          </li>
        </ul>
      </section>
      <section>
        <h3>先取り自主勉強会</h3>
        <ul>
          <li>
            日時: 4/7 (月), 11 (金), 16 (水), 18 (金), 23 (水), 25 (金), 30 (水)
            すべて 19:00 ~ 21:30
          </li>
          <li>場所: 駒場学生会館 313 B (部室)</li>
          <li>途中参加・途中退出可。</li>
          <li>
            いち早くプログラミングを学び、プロジェクトに参加できるスキルをつけよう！
            経験者も新しい知識を学ぶチャンス！
          </li>
        </ul>
      </section>
      <div class="divider mt-20">交流・開発</div>
      <section>
        <h3>新歓合宿</h3>
        <ul>
          <li>5/3 ~ 5/5</li>
          <li>日程: 5/3(土) ~ 5/5(月)</li>
          <li>場所: 東京大学山中寮内藤セミナーハウス</li>
          <li>
            合宿を通してプログラミングの基礎を身につけ、自分なりのサイトやアプリを作りましょう！
          </li>
          <li>
            ut.code(); の新歓イベントとしては一番大きなものになります！
            <br />
            ut.code(); の普段の活動を知ることができますし、部員や他の新入生とも交流できるいい機会になりますよ〜
            ぜひご参加ください！
          </li>
        </ul>
      </section>
    </section>
  </StaticDocumentWrapper>
</GlobalLayout>

<style>
  section {
    margin-top: 3rem;
  }
</style>
