---
import { Icon } from "astro-icon/components";
import ActionButton from "./ActionButton.astro";
import Logo from "./Logo.astro";
---

<footer class="bg-base-content text-base-200 p-18">
  <div class="footer footer-vertical sm:footer-horizontal">
    <aside>
      <Logo class="w-72" variant="light" />
      <h1 class="my-4 text-xl">ソフトウェア開発コミュニティ</h1>
      <ActionButton to="/join/" variant="dark" class="mx-auto mt-1 md:mx-0">
        参加する
      </ActionButton>
    </aside>
    <nav>
      <h6 class="footer-title">活動</h6>
      <a href="/projects/" class="link link-uncolor link-hover">
        プロジェクト
      </a>
      <a
        href="https://learn.utcode.net/"
        class="link link-uncolor link-hover"
        target="_blank"
        rel="noreferrer"
      >
        ut.code(); Learn
      </a>
      <a href="/activities/learn/" class="link link-uncolor link-hover">
        ut.code(); で学習する
      </a>
      <a href="/activities/share/" class="link link-uncolor link-hover">
        ut.code(); で交流する
      </a>
      <a href="/activities/develop/" class="link link-uncolor link-hover">
        ut.code(); で開発する
      </a>
      <a href="/donation/" class="link link-uncolor link-hover">
        ご寄付・ご協賛のお願い
      </a>
    </nav>
    <nav>
      <h6 class="footer-title">ソーシャルリンク</h6>
      <div class="grid grid-flow-col gap-4">
        <a href="https://github.com/ut-code" target="_blank">
          <Icon name="flowbite:github-solid" class="text-5xl" />
        </a>
        <a href="https://x.com/utokyo_code" target="_blank">
          <Icon name="flowbite:x-solid" class="text-5xl" />
        </a>
      </div>
    </nav>
  </div>
  <aside class="mt-12 w-full text-center text-sm text-gray-400">
    &copy; {new Date().getFullYear()} ut.code();
  </aside>
</footer>
<style>
  @media not (prefers-reduced-motion) {
    .link {
      background: linear-gradient(currentColor 0 0) bottom left/
        var(--underline-width, 0%) 0.1em no-repeat;
      text-decoration: none;
      transition: background-size 0.1s linear;
    }
    .link:hover {
      --underline-width: 100%;
      @starting-style {
        --underline-width: 0%;
      }
    }
  }
</style>
