---
import { Picture } from "astro:assets";
interface Props {
  size?: "fullscreen" | "heading" | "small";
  src: ImageMetadata;
  alt: string;
  width?: number | `${number}`;
  height?: number | `${number}`;
  loading?: "eager" | "lazy";
  class?: string;
  "class:list"?: string[];
  style?: string;
  layout?: "responsive" | "fixed";
}

const props = Astro.props;
---

<div class="skeleton">
  <Picture
    loading={props.loading || "lazy"}
    {...props}
    formats={["avif", "webp"]}
  />
</div>
<!-- formats={["avif", "webp"]} -->
