---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

interface Props {
  variant: "short" | "index";
  class?: string;
}
const props = Astro.props;
const { variant } = props;

const projects = (await getCollection("projects")).sort((a, b) => {
  const a_order = a.data.order ?? Number.POSITIVE_INFINITY,
    b_order = b.data.order ?? Number.POSITIVE_INFINITY;
  if (a_order !== b_order) {
    return a_order - b_order;
  }
  return b.data.date.getTime() - a.data.date.getTime();
});
if (variant === "short") {
  projects.splice(6);
}
---

<ul class:list={["grid gap-9 md:grid-cols-2 xl:grid-cols-3", props.class]}>
  {
    projects.map((project) => (
      <li
        class:list={[
          "contents",
          variant === "short" ? "variant-short" : "variant-index",
        ]}
      >
        <a
          class="relative top-0 overflow-clip rounded-xl border border-gray-200 bg-white hover:brightness-95 active:top-0.75"
          href={`/projects/${project.data.slug}`}
        >
          <Image
            width="800"
            height="600"
            alt="プロジェクトのイメージ画像"
            src={project.data.image}
            class="h-[16rem] w-full object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold">{project.data.title}</h3>
            <p class="prose mt-2">
              {project.data.description.length < 120
                ? project.data.description
                : project.data.description.slice(0, 120) + "..."}
            </p>
          </div>
        </a>
      </li>
    ))
  }
</ul>

<style>
  @import "tailwindcss";
  @media (max-width: 64rem) {
    li.variant-short:nth-child(n + 3) {
      @apply hidden;
    }
  }
  @media (max-width: 80rem) {
    li.variant-short:nth-child(n + 5) {
      @apply hidden;
    }
  }
</style>
