---
interface Props {
  title: string;
  links: { title: string; to: string }[];
}
const { title, links } = Astro.props;
---

<div>
  <h4 class="text-lg">{title}</h4>
  <ul class="mt-4 space-y-2">
    {
      links.map((link) => (
        <li>
          <a
            href={link.to}
            class="hover:underline"
            target={link.to.startsWith("/") ? "" : "_blank"}
            rel={link.to.startsWith("/") ? "" : "noreferrer"}
          >
            {link.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
