---
import ActionButton from "+/components/utils/ActionButton.astro";
import Logo from "+/components/utils/Logo.astro";
import { Icon } from "astro-icon/components";
---

<footer class="bg-base-content text-base-200 p-18">
  <div
    id="footer-first-section"
    class="footer footer-vertical sm:footer-horizontal"
  >
    <aside>
      <Logo class="w-72" variant="light" />
      <h2 class="footer-title text-md my-4">
        東京大学のソフトウェアエンジニアリングコミュニティ
      </h2>
      <ActionButton to="/join/" variant="dark" class="mx-auto mt-1 md:mx-0">
        参加する
      </ActionButton>
    </aside>
    <nav>
      <h3 class="footer-title">活動</h3>
      <a href="/projects/">プロジェクト</a>
      <a href="/activities/learn/">学習・教育</a>
      <a href="/activities/share/">交流</a>
      <a href="/activities/develop/">開発</a>
    </nav>
    <nav>
      <h3 class="footer-title">サイトマップ</h3>
      <a href="/articles/">記事</a>
      <a href="/members/">メンバー</a>
      <a href="/join/">参加</a>
      <a href="/about/">団体概要</a>
    </nav>
    <nav>
      <h3 class="footer-title">お問い合わせ</h3>
      <a href="/contact/">お問い合わせ</a>
      <a href="/donation/">ご寄付・ご協賛</a>
      <h3 class="footer-title mt-6">ソーシャルリンク</h3>
      <div class="grid grid-flow-col gap-4">
        <a href="https://github.com/ut-code" target="_blank" data-icon-link>
          <Icon name="flowbite:github-solid" class="text-5xl" />
        </a>
        <a href="https://x.com/utokyo_code" target="_blank" data-icon-link>
          <Icon name="flowbite:x-solid" class="text-5xl" />
        </a>
      </div>
    </nav>
  </div>

  <aside class="mt-18 w-full text-center text-sm text-gray-400">
    &copy; {new Date().getFullYear()} ut.code();
  </aside>
</footer>

<style>
  @media (prefers-reduced-motion) {
    a:not([data-icon-link]):hover {
      text-decoration: underline;
    }
  }
  @media not (prefers-reduced-motion) {
    a:not([data-icon-link]) {
      background: linear-gradient(currentColor 0 0) bottom left/
        var(--underline-width, 0%) 0.1em no-repeat;
      transition: background-size 0.1s linear;
    }
    a:not([data-icon-link]):hover {
      --underline-width: 100%;
      @starting-style {
        --underline-width: 0%;
      }
    }
  }
</style>
