---
import "+/global.css";

import { ClientRouter } from "astro:transitions";
import Footer from "+/components/Footer.astro";
import Header from "+/components/Header.astro";
import type { Focus } from "+/schema";
import Meta from "./meta.astro";

interface Props {
  title: string | null;
  description: string | null;
  focus: Focus;
  class?: string;
  image: ImageMetadata | null;
}
const { title, description, focus, image } = Astro.props;
---

<html lang="ja" class="bg-gray-50 text-gray-800" data-theme="light">
  <head>
    <Meta {title} {description} image={image} />
  </head>
  <body class="min-h-[100vh]">
    <ClientRouter />
    <Header {focus} />
    <slot />
    <Footer />
  </body>
</html>
