---
import Meta from "./meta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { Focus } from "../schema";

interface Props {
  title: string | null;
  description: string | null;
  focus: Focus;
  class?: string;
}
const { title, description, focus } = Astro.props;
---

<Meta {title} {description} url="http://localhost:4321">
  <Header {focus} />
  <body class="min-h-full"> <slot /> </body>
  <Footer />
</Meta>
