---
// import type { WithContext, Thing } from "schema-dts";
import { getImage } from "astro:assets";
import "../global.css";
import Favicon from "../images/favicon.png";

interface Props {
  title: string | null;
  description: string | null;
  keywords?: string[];
  image?: string; // URL of image
  // linkedData?: WithContext<Thing>;
  url: string; // absolute path starting with /
}
const { title, description, keywords = [], image, url } = Astro.props;

const favicon = await getImage({
  src: Favicon,
  height: 128,
  width: 128,
});
---

<html lang="ja" class="min-h-full">
  <head>
    <title>{title ? title + " | ut.code();" : "ut.code();"}</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content={description ??
        "東京大学のソフトウェアエンジニアリングコミュニティ"}
    />
    <link rel="icon" href={favicon.src} />
    <meta property="og:site_name" content="ut.code();" />
    <meta property="og:title" content={title} />
    <!-- TODO: make the origin flexible -->
    <meta property="og:image" content={"https://utcode.net" + image} />
    <meta property="og:url" content={"https://utcode.net" + url} />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@utokyo_code" />
    <meta
      name="keywords"
      content={[
        ...keywords,
        "ソフトウェアエンジニアリング,プログラミング,東京大学,サークル",
      ].join(",")}
    />
    <!-- 何だこれ -->
    <!-- {linkedData && ( -->
    <!-- <script type="application/ld+json">{JSON.stringify(linkedData)}</script> -->
    <!-- )} -->
  </head>
  <slot />


</html>
