---
import { addOrigin } from "+/lib/utils";

interface Props {
  title: string | null;
  description: string | null;
  keywords?: string[];
  image: ImageMetadata | null;
}
const { title, description, keywords = [], image } = Astro.props;
const url = Astro.url.href;
---

<meta charset="utf-8" />
<title>{title ? title + " | ut.code();" : "ut.code();"}</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon-64x.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content={description ?? "東京大学のソフトウェアエンジニアリングコミュニティ"}
/>
<meta property="og:site_name" content="ut.code();" />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
<meta
  property="og:image"
  content={addOrigin(image?.src ?? "/utcode-logo/normal.png", Astro.site)}
/>
<meta property="og:url" content={url} />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@utokyo_code" />
<meta
  name="keywords"
  content={[
    ...keywords,
    "プログラミング,サークル,東京大学,Web開発,ソフトウェアエンジニアリング,ユーティーコード",
  ].join(",")}
/>
