---
import { Picture } from "astro:assets";

interface Props {
  header: ImageMetadata;
  title: string;
  fill: `bg-${string}`; // put header color
}

const { header, fill, title } = Astro.props;
---

<main>
  <h1 class="mt-12 ml-4 max-w-xl text-3xl sm:mx-10 sm:text-4xl md:mx-auto">
    {title}
  </h1>
  <Picture
    formats={["avif", "webp"]}
    alt=""
    loading="eager"
    src={header}
    width="1920"
    height="600"
    class:list={["my-8 h-100 w-full object-cover md:h-150", fill]}
  />
  <article class="prose mx-5 mb-20 max-w-xl sm:mx-10 md:mx-auto">
    <slot />
  </article>
</main>
