---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
}
const { icon } = Astro.props;
---

<div class="container mx-auto mt-12 px-8 lg:max-w-screen-lg">
  <div
    class="flex h-10 w-10 items-center justify-center rounded-lg bg-black text-white"
  >
    <Icon name={icon} class="h-6 w-6" />
  </div>
  <h1 class="mt-3 text-4xl"><slot /></h1>
</div>
